[Desktop Entry]
Comment[en_AU]=
Comment=
Exec=yakuake
GenericName[en_AU]=
GenericName=
Icon=system-run
MimeType=
Name[en_AU]=
Name=
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
